<template>
  <div class="row">
    <div class="col-12 col-md-6 mx-auto mt-5">
      <div class="card">
        <div class="card-header bg-dark text-white">
          Login
        </div>
        <div class="card-body">
          <h6 class="card-title">Please enter your credential</h6>
          <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Account</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
              </div>
              <button type="submit" v-on:click="onClickLogin" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  
}
</script>

<style scoped>

</style>