<template>
  <div id="main-content">
    <div class="alert alert-info my-2 text-center">
      <i class="fa fa-fw fa-spinner fa-pulse"></i> Signing in...
    </div>
  </div>
</template>

<script>
  export default {
    layout: 'empty'
  }
</script>