<template>
  <div id="main-content" v-if="user">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><nuxt-link :to="{ name: 'users' }">Users</nuxt-link></li>
        <li class="breadcrumb-item active" aria-current="page">{{ user.id }}</li>
      </ol>
    </nav>

    <div class="pb-2 my-2 border-bottom">
      <h3>User detail</h3>
    </div>
    <div class="card rounded-0">
      <div class="card-header bg-light">
        Record ID: <strong>{{ user.id }}</strong>
      </div>
      <div class="card-body">
        <form>
          <div class="form-group row">
            <label class="col-4 col-md-2 col-form-label">First name: </label>
            <div class="col-8 col-md-10 py-2">
              {{ user.fname }}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-md-2 col-form-label">Last name: </label>
            <div class="col-8 col-md-10 py-2">
              {{ user.lname }}
            </div>
          </div>
          <div class="form-group row">
            <label for="staticActive" class="col-4 col-md-2 col-form-label">Active: </label>
            <div class="col-8 col-md-10">
              <div class="custom-control mt-2 custom-radio custom-control-inline">
                <input disabled :checked="user.active" type="radio" id="staticActive" class="custom-control-input" />
                <label class="custom-control-label" for="staticActive">True</label>
              </div>
              <div class="custom-control mt-2 custom-radio custom-control-inline">
                <input disabled :checked="!user.active" type="radio" id="staticInActive" class="custom-control-input" />
                <label class="custom-control-label" for="staticInActive">False</label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-4 col-md-2 col-form-label">
              <nuxt-link class="btn btn-sm btn-primary" :to="{ name: 'users' }"><i class="fa fa-fw fa-chevron-left"></i> Back</nuxt-link>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<style>

</style>

<script>
  export default {
    data() {
      return {
        user: {
          id: "",
          fname: "",
          lname: "",
          active: false
        }
      }
    },
    methods: {
      async getUser(id) {
        return this.user = await this.$axios.$get(`users/${id}`);
      }
    },
    created() {
      var params = this.$route.params;
      this.user = params.obj;
      if (! params.obj) {
        this.getUser(params.id);
      }
    }
  }
</script>