<template>
  <div id="main-content">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><nuxt-link :to="{ name: 'users' }">Users</nuxt-link></li>
        <li class="breadcrumb-item active" aria-current="page">Create user</li>
      </ol>
    </nav>

    <div class="pb-2 my-2 border-bottom">
      <h3>Create user</h3>
    </div>
    <div class="card rounded-0">
      <div class="card-header bg-light">
        Please input information
      </div>
      <div class="card-body">
        <form>
          <div class="form-group required row">
            <label class="col-4 col-md-2 col-form-label">First name: </label>
            <div class="col-8 col-md-10 py-2">
              <input type="text" maxlength="20" class="form-control form-control-sm" :class="{ 'is-invalid': $v.user.fname.$invalid && $v.user.fname.$dirty }" v-model.trim="$v.user.fname.$model" />
              <div class="invalid-feedback" v-if="!$v.user.fname.required && $v.user.fname.$dirty">
                First name is required
              </div>
              <div class="invalid-feedback" v-if="!$v.user.fname.minLength && $v.user.fname.$dirty">
                First name must have at least {{ $v.user.fname.$params.minLength.min }} letters
              </div>
            </div>
          </div>
          <div class="form-group required row">
            <label class="col-4 col-md-2 col-form-label">Last name: </label>
            <div class="col-8 col-md-10 py-2">
              <input type="text" maxlength="20" class="form-control form-control-sm" :class="{ 'is-invalid': $v.user.lname.$invalid && $v.user.lname.$dirty }" v-model.trim="$v.user.lname.$model" />
              <div class="invalid-feedback" v-if="!$v.user.lname.required && $v.user.lname.$dirty">
                Last name is required
              </div>
              <div class="invalid-feedback" v-if="!$v.user.lname.minLength && $v.user.lname.$dirty">
                Last name must have at least {{ $v.user.lname.$params.minLength.min }} letters
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="staticActive" class="col-4 col-md-2 col-form-label">Active: </label>
            <div class="col-8 col-md-10">
              <div class="custom-control mt-2 custom-radio custom-control-inline">
                <input v-model="user.active" :value="true" type="radio" name="active" id="staticActive" class="custom-control-input" />
                <label class="custom-control-label" for="staticActive">Yes</label>
              </div>
              <div class="custom-control mt-2 custom-radio custom-control-inline">
                <input v-model="user.active" :value="false" type="radio" name="active" id="staticInActive" class="custom-control-input" />
                <label class="custom-control-label" for="staticInActive">No</label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-8 col-md-10 offset-4 offset-md-2">
              <button type="button" class="btn btn-sm btn-success" v-on:click="submitData()"><i class="fa fa-fw fa-save"></i> Save</button>
              <nuxt-link class="btn btn-sm btn-danger" :to="{ name: 'users' }"><i class="fa fa-fw fa-close"></i> Cancel</nuxt-link>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>  
</template>

<script>
  import { required, minLength } from 'vuelidate/lib/validators'

  export default {
    data() {
      return {
        user: {
          id: "",
          fname: "",
          lname: "",
          active: false
        }
      }
    },
    validations: {
      user: {
        fname: {
          required,
          minLength: minLength(4)
        }, 
        lname: {
          required,
          minLength: minLength(4)
        }
      }
    },
    methods: {
      submitData() {
        this.$v.$touch();
        if (this.$v.$invalid) {
          return;
        }
        this.$axios.$post(`users`, this.user).then(() => {
          this.$swal('Success', 'Saved changes!', 'success');
          this.$router.push({ name: 'users' });
        });
      }
    },
  }
</script>