<template>
  <div id="main-content">
    <div class="pb-2 my-2 border-bottom">
      <h3>User management</h3>
    </div>
    <div class="card rounded-0">
      <div class="card-header px-3 bg-light">
        <button :disabled="!checked.length" v-on:click="deleteAll()" class="btn btn-sm btn-danger btn-delete"><i class="fa fa-fw fa-trash"></i></button>
        <nuxt-link :to="{ name: 'users-create' }" class="btn btn-sm btn-secondary float-right"><i class="fa fa-fw fa-plus"></i> Create</nuxt-link>
        <span v-if="users.length" class="meta-info mx-2">
          From <span class="meta-from">{{ from }}</span> 
          - <span class="meta-to">{{ to }}</span> 
          of <span class="meta-total">{{ totalCount }}</span>
        </span>
      </div>
      <div class="p-3 row">
        <div class="input-group input-group-sm col-8 col-md-4">
          <input v-model="search" type="search" class="form-control input-search border-right-0 border" placeholder="Enter keyword..." />
          <div class="input-group-append">
            <div class="input-group-text bg-white"><i class="fa fa-search"></i></div>
            <!-- <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fa fa-fw fa-search"></i></button> -->
          </div>
        </div>
        <div class="ml-auto col-4 col-md-2 offset-md-6">
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-list"></i></span>
            </div>
            <select v-model="limit" v-on:change="getUsers()" id="selectLimit" class="form-control input-search">
              <option value="2">2</option>
              <option value="10">10</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
          </div>
        </div>
      </div>
      <div v-if="filteredList.length" class="card-body px-3 p-0 table-responsive">
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th scope="col" width="4%" class="text-center">
                <input :checked="isCheckedAll" id="checkUserAll" v-on:click="onCheckAll()" type="checkbox" class="check-all" />
              </th>
              <th scope="col">ID</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Active</th>
              <th scope="col" class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr :key="user.id" v-for="user in filteredList" :class="{ 'bg-warning': checked.indexOf(user.id) > -1 }">
              <td class="text-center">
                <input v-model="checked" type="checkbox" :value="user.id" class="check-one" />
              </td>
              <td class="js-uid no-wrap">{{ user.id }}</td>
              <td class="js-fname">{{ user.fname }}</td>
              <td class="js-lname">{{ user.lname }}</td>
              <td class="js-active">
                <i v-if="user.active" class="fa fa-fw fa-check"></i>
                <i v-else class="fa fa-fw fa-close"></i>
              </td>
              <td align="center" class="no-wrap" width="20%">
                <button title="View detail" type="button" v-on:click="showUser(user)" class="btn btn-sm btn-info"><i class="fa fa-search-plus"></i></button>
                <button title="Edit" type="button" v-on:click="showUser(user, true)" class="btn btn-sm btn-success"><i class="fa fa-pencil"></i></button>
                <button title="Delete" type="button" v-on:click="confirmDelete(user)" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>  
      </div>
      <nav v-if="totalCount > limit" class="px-3 mx-auto">
        <Paginate
          v-model="currentPage"
          :pageCount="totalPages"
          :prevText="'&larr;'"
          :nextText="'&rarr;'"
          :containerClass="'pagination pagination-sm'"
          :clickHandler="getUsers"
          :pageClass="'page-item'"
          :pageLinkClass="'page-link'"
          :prevClass="'page-item'"
          :prevLinkClass="'page-link'"
          :nextClass="'page-item'"
          :nextLinkClass="'page-link'"
          :firstLastButton="true"
          :hidePrevNext="true"
        />
      </nav>
    </div>
  </div>
</template>

<style>

</style>

<script>
  import Paginate from '~/components/Paginate';

  export default {
    components: {
      Paginate
    },
    data() {
      return {
        users: [],
        currentPage: 1,
        totalCount: 0,
        limit: process.env.appConsts.pagination.limit,
        from: 0,
        to: 0,
        checked: [],
        search: ""
      };
    },
    methods: {
      getUsers(_page) {
        var page = _page || 1;
        this.currentPage = page;
        this.$axios.get(`users?_page=${this.currentPage}&_limit=${this.limit}`).then((resp) => {
          this.users = resp.data;
          this.from = (this.currentPage - 1) * this.limit + 1;
          this.to = this.from + this.users.length - 1;
          this.totalCount = parseInt(resp.headers['x-total-count']);
        }); 
      },
      showUser(user, edit = false) {
        var uid = user.id;
        this.$axios.$get(`users/${uid}`).then(() => {
          var routeName = edit ? 'users-edit-id' : 'users-id';
          this.$router.push({ name: routeName, params: { 
            id: uid, 
            obj: user 
          }});
        });
      },
      confirmDelete(user, multi = false) {
        var toDelete = [];
        var prefix = "this record";
        if (multi) {
          toDelete = this.checked;
          prefix = this.checked.length > 1 ? 'these records' : prefix;
        } else {
          toDelete.push(user.id);
        }
        toDelete = toDelete.sort().join(", ");
        this.$swal({
          title: "Confirm",
          text: `Are you sure want to delete ${prefix}: ${toDelete} ?`,
          icon: "warning",
          buttons: {
            confirm: {
              text: 'Yes',
              className: 'btn-danger'
            },
            cancel: 'No'
          }
        }).then((choice) => {
          if (choice) {
            this.deleteUser(user, multi);
          }
        });
      },
      deleteUser(user, multi) {
        var options = {
          method: 'delete',
          url: multi ? 'users' : `users/${user.id}`,
          data: multi ? this.checked : null
        }
        var self = this;
        this.$axios(options).then(() => {
          this.$swal('Success', 'Deleted!', 'success');
          this.removeItems(user, multi);
        }).finally(() => {
          this.checked = [];
          this.checkAll = false;
        });
      },
      onCheckAll() {
        this.checked = event.target.checked ? _.map(this.users, 'id') : [];
      },
      deleteAll() {
        this.confirmDelete(null, true);
      },
      removeItems(user, multi) {
        if (multi) {
          this.users = this.users.filter(u => this.checked.indexOf(u.id) === -1);
        } else {
          const index = this.users.findIndex(u => u.id === user.id);
          this.users.splice(index, 1);
        }
      }
    },
    created() {
      const baseUrl = this.$axios.defaults.baseURL;
      this.getUsers();
    },
    computed: {
      totalPages() {
        return Math.ceil(this.totalCount / this.limit);
      },
      searchFields() {
        return ['fname', 'lname', 'id'];
      },
      isCheckedAll() {
        var ids = this.filteredList.map(u => u.id);
        return this.filteredList.length && (ids.length == this.checked.length);
      },
      filteredList() {
        var q = this.search.trim().toLowerCase();
        if (!q.length) {
          return this.users;
        }
        return this.users.filter(user => {
          return _.chain(user).pick(this.searchFields).map(attr => {
            return attr.toLowerCase().includes(q); 
          }).indexOf(true) > -1;
        })
      }
    }
  }
</script>