.nuxt-link-exact-active {
  background-color: #6c757d;
}
.container {
  max-width: 960px;
}
.cell {
  text-decoration: none;
  border-radius: .25rem;
  background-color: white;
  width: 100%;
  display: table;
  vertical-align: middle;
  box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.27);
  position: relative;
  transition: all 0.3s ease;
  height: 196px;
}
.cell-content {
  color: white;
  display: table-cell;
  vertical-align: middle;
}
.cell-content.main {
  font-size: 20px;
}
span.meta-info {
  vertical-align: middle;
}
span.meta-info > [class^="meta-"] {
  font-weight: bold;
}
.form-group.required .col-form-label:after {
  content: "*";
  color: red;
  font-weight: bold;
}
.no-wrap {
  white-space: nowrap;
}
.input-search, .pagination .page-link {
  box-shadow: none !important;
  outline: 0 !important;
}
.page-item.active a {
  cursor: default;
}
span.alert-content {
  word-break: break-all;
  text-align: justify;
}