<template>
  <div class="col-12 col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-header bg-secondary text-white">
        Login
      </div>
      <div class="card-body">
        <div v-if="localMode" id="loginAlert" class="alert alert-info rounded-0 alert-dismissible">
          <code>You can click OAuth2 button to use OpenID login feature</code>
          <button v-on:click="localMode=false" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <h6 class="card-title text-center">Enter your credentials</h6>
        <form @submit.prevent="localLogin()">
            <div class="form-group required">
              <label class="col-form-label" for="exampleInputEmail1">Account: </label>
              <input v-model="login.email" type="email" name="email" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Enter email" autofocus="true" />
              <small id="emailHelp" class="form-text text-muted">Example: abc@example.com</small>
            </div>
            <div class="form-group required">
              <label class="col-form-label" for="exampleInputPassword1">Password: </label>
              <input v-model="login.password" type="password" name="password" class="form-control form-control-sm" id="exampleInputPassword1" placeholder="Enter password" />
            </div>
            <div v-if="remember" class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Remember me</label>
            </div>
            <div class="form-group text-center pt-3">
              <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-fw fa-sign-in"></i> Login</button>
              <button type="button" v-on:click="oauthLogin()" class="btn btn-sm btn-warning"><i class="fa fa-fw fa-credit-card"></i> OAuth2</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    layout: 'empty',
    middleware: 'notAuthenticated',
    auth: false,
    data() {
      return {
        login: {
          email: '',
          password: ''
        },
        localMode: false,
        remember: false
      }
    },
    methods: {
      localLogin() {
        this.localMode = true;
      },
      oauthLogin() {
        this.localMode = false;
        this.$auth.loginWith('auth0');
      }
    }
  }
</script>

<style scoped>

</style>
