<template>
  <footer id="page-footer" class="border-top mt-2">
    <div class="text-center">
      <p>COPYRIGHT © TRUNGLECNTT, ALL RIGHTS RESERVED.</p>
    </div>
  </footer>
</template>

<style scoped>
  #page-footer {
    clear: both;
  }
  #page-footer p {
    font-size: 10px;
  }
</style>