<template>
  <div id="page-header">
    <div class="navbar px-0">
      <a class="navbar-brand" href="/">
        <img id="brand-logo" src="@/static/images/kddi-logo.png" height="35" alt="Brand logo" />
      </a>
      <div id="profile-section">
        <div class="dropdown">
          <client-only>
            <Profile />
          </client-only>
          <div class="dropdown-menu" id="profile-options">
            <a class="dropdown-item" href="#">通知先メールアドレス変更</a>
            <a class="dropdown-item disabled" href="#">パスワード変更</a>
            <a class="dropdown-item" href="#">ワンタイムパスワード再設定</a>
            <a class="dropdown-item" href="#">着信認証電話番号変更</a>
            <a class="dropdown-item" href="#">ベーシックパックプラス適用対象外通知メール設定</a>
            <a class="dropdown-item" href="#">連携サービスID</a>
            <a class="dropdown-item" href="#">ブラウザ制限 申請状況</a>
          </div>
        </div>
      </div>
      <button id="btn-logout" type="button" v-on:click="logout()" class="btn btn-secondary">Logout</button>
    </div>
    <Navbar />
  </div>
</template>

<style>
  .navbar-brand {
    width: 100%;
  }
  #profile-section {
    margin: 0 auto;
  }
  #btn-logout {
    margin-left: auto;
  }
  .dropdown-toggle:focus, .dropdown-toggle:active {
    outline: none;
    box-shadow: none;
  }
  #profile-options {
    max-width: 150%;
    font-size: 13px;
  }
  #profile-options > a {
    padding-left: 1rem;
    padding-right: 1rem;
    white-space: nowrap;
  }
  @media all and (min-width: 605px) {
    #profile-section {
      margin-right: 0;
    }
    #btn-logout {
      margin-left: 0;
    }
  }
  @media all and (min-width: 662px) {
    .navbar-brand {
      width: 0%;
    }
  }
  @media all and (min-width: 768px) {
    #profile-options {
      font-size: 14px;
    }
  }
</style>

<script>
  import { mapGetters } from 'vuex'
  import Navbar from '~/components/layouts/Navbar'
  import Profile from '~/components/layouts/Profile'

  export default {
    components: {
      Navbar,
      Profile
    },
    methods: {
      logout () {
        this.$auth.logout();
        this.$router.push({ name: 'login' });
      }
    },
    computed: mapGetters(['isAuthenticated'])
  }
</script>