<template>
  <nav id="menu-navbar" class="navbar navbar-expand-md navbar-dark bg-dark mb-2">
    <button id="btn-release-note" class="btn btn-primary ml-auto order-md-last mr-2" type="button">
      <i class="fa fa-fw fa-exclamation"></i>
    </button>

    <button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item home-link">
          <nuxt-link class="nav-link" :to="{ name: 'index' }"><i class="fa fa-fw fa-home"></i></nuxt-link>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/users" data-toggle="dropdown">
            Users
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <nuxt-link class="dropdown-item" :to="{ name: 'users' }">User list</nuxt-link>
            <nuxt-link class="dropdown-item" :to="{ name: 'users-create' }">Add user</nuxt-link>
            <a class="dropdown-item" href="#">ユーザ一括処理</a>
            <a class="dropdown-item" href="#">組織管理</a>
            <a class="dropdown-item" href="#">Active Directory連携</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
            サービス
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">ID数確認/変更申込</a>
            <a class="dropdown-item" href="#">SSO設定</a>
            <a class="dropdown-item" href="#">メール通知サービス設定</a>
            <a class="dropdown-item" href="#">au回線状況一覧</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
            セキュリティ
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">ログイン条件</a>
            <a class="dropdown-item" href="#">社内IPアドレス設定</a>
            <a class="dropdown-item" href="#">パスワード強度設定</a>
            <a class="dropdown-item" href="#">ブラウザ制限 申請一覧</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">ログ</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
            まとめてオフィス
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">カウネット購入/請求履歴</a>
            <a class="dropdown-item" href="#">ポイント確認/利用申請</a>
            <a class="dropdown-item" href="#">カウネット契約追加申込</a>
            <a class="dropdown-item" href="#">請求コード利用者一覧</a>
            <a class="dropdown-item" href="#">アンケート</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">契約情報</a>
        </li>
      </ul>
    </div>
  </nav>
</template>

<style scoped>
  #menu-navbar {
    min-height: 50px;
    padding: .5rem 0;
  }
  .navbar-brand {
    margin: 0;
  }
  .navbar-collapse {
    padding-top: .5rem;
  }
  .navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
  }
  .dropdown-menu {
    background: #343a40;
    border-radius: 0;
    border: 0;
    margin-top: 0;
    padding-top: 0;
  }
  .dropdown-menu > .dropdown-item {
    color: #FFFFFF;
  }
  .dropdown-menu > .dropdown-item.active {
    background-color: #6c757d;
  }
  .dropdown-menu > .dropdown-item:hover {
    background-color: #6c757d;
  }
  .navbar-nav .nav-item.active {
    background-color: #6c757d;
  }
  .navbar-nav .nav-link {
    color: #FFFFFF !important;
    padding-left: 10px;
    padding-right: 10px;
  }
  .navbar-nav .nav-item:hover {
    background-color: #6c757d;
  }
  #page-header a, .nav-item {
    transition: all 0.3s ease;
  }
  @media all and (min-width: 768px) {
    #menu-navbar {
      height: 50px;
      padding: 0;
    }
    .navbar-collapse {
      padding: 0;
    }
    .navbar-nav .nav-item {
      padding: 0;
      height: 50px;
      line-height: 32px;
    }
    .navbar-nav .nav-link {
      min-height: 50px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .navbar-nav .nav-item.home-link {
      min-width: 75px;
      min-height: 50px;
      text-align: center;
    }
  }
</style>

<script>
  import $ from 'jquery';

  export default {
    mounted() {
      var routeMap = this.$route.path.split('/');
      $('a.dropdown-toggle').each(function () {
        var sel = $(this);
        var href = sel.attr('href').slice(1);
        if (routeMap[1].length && routeMap[1] == href) {
          sel.closest('li').addClass('active');
        }
      });
      $(".nav-link").on("click", function (e) {
        $(".nav-item").removeClass("active");
        $(this).closest('li').addClass('active');
        e.preventDefault();
      });
    }
  }
</script>