<template>
  <button v-if="$auth.loggedIn" class="btn btn-default dropdown-toggle" type="button" id="btn-profile-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="js-name">{{ $auth.user.name }}</span>
    <span class="js-uid">({{ $auth.user.email }})</span>
  </button>
</template>