<template>
  <div class="page-sidebar mb-2">
    <button class="btn btn-sidebar btn-block btn-secondary">ご請求金額の確認</button>
    <button class="btn btn-sidebar btn-block btn-secondary">マニュアル</button>
    <div class="rounded btn-sidebar btn-block btn-secondary p-2 text-center">
      <p class="mb-2">よくあるご質問の検索</p>
      <div class="input-group">
        <input class="form-control form-control-sm input-search border-right-0 border" type="search" id="sidebar-search-input" />
        <span class="input-group-append">
          <div class="input-group-text bg-white"><i class="fa fa-search"></i></div>
        </span>
      </div>
    </div>
    <button class="btn btn-sidebar btn-block btn-secondary">お問い合わせ</button>
  </div>
</template>

<style scoped>
  .btn-sidebar {
    margin-bottom: .5rem;
  }
  .btn-sidebar:hover {
    background-color: #0E0D6A;
  }
</style>

<script>
  export default {
    
  }
</script>